{% extends "Base.html" %}

{% block content %}

<div class="row">
    <div class="col-9 offset-3">
        {% for listing in Listing %}
            <h1>User: {{listing.author.username}}</h1>
            <p>Address: {{listing.address_for_pickup}}</p>
            <p>ABN: {{listing.abn}}</p>
            <br>
            {% for product in listing.food_products %}
                <p>Category: {{product.category}}</p>
                <p>Quantity: {{product.quantity}}</p>
                <p>Description: {{product.description}}</p>
                <br>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock content %}